<div class="login-modal">
  <div class="modal-header">
    <h3 class="modal-title">Login</h3>
  </div>

  <div class="modal-body">
    <div class="login-form">
      <label>Username:</label>
      <input type="text" value="" />

      <label>Password:</label>
      <input type="password" name="name" value="" />

      <div class="login-action">
        <a href="#">Forgot Password?</a>
        <button type="button" name="button" class="pull-right btn">Login</button>
      </div>
    </div>


    <button class="socal-media-login btn" id="linkedin-btn" ng-click="authenticate('linkedin')">
      <img src="/images/logo-linkedin-tm.png" alt="" />
      Sign in with your <span>LinkedIn</span> Account
    </button>
  </div>

  <div class="modal-footer">
    Don’t have an account? <a href="#">Sign Up</a> Now!
  </div>
</div>
