<div id="main_control" class="container-fluid">
  <!-- Carousel Image Gallery -->
  <div id="myCarousel" class="row" ng-include="'views/shared/carousel.html'" ng-controller="CarouselCtrl" ></div>

  <!-- Search on Map -->
  <div class="search-map row">
    <h2>Search Deals on Our Map</h2>

    <div class="search-form">
      <!-- Search input -->
      <div class="search-deal pull-left">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>

        <input type="text" name="searchDeal" ng-model="search.id" required placeholder="Search for Deal ID..."/>
      </div>

      <!-- Annual Return -->
      <div class="btn-group select-btn pull-left">
        <span class="slider-title">Annual Return</span>
        <div class="search-slider">
          <div class="annual-return" ui-slider="{range: true}" min="8" max="14" step="1" lower-bound="8" upper-bound="14" data-tick ng-model="annualReturnSlider"></div>
        </div>
      </div>

      <!-- LTV -->
      <div class="btn-group select-btn pull-left">
        <span class="slider-title">LTV</span>
        <div class="search-slider">
          <div class="ltv" ui-slider="{range: 'min'}" min="80" max="95" step="5" data-tick ng-model="ltvSlider"></div>
        </div>
        <!-- <button class="btn btn-default btn-lg dropdown-toggle search-select" type="button" aria-haspopup="true" aria-expanded="false" ng-click="openDropdown($event);">
          LTV <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
        </button>
        <ul class="dropdown-menu">
          <li></li>
        </ul> -->
      </div>

      <!-- Location -->
      <div class="btn-group select-btn pull-left" mt-to="search.locations">
        <button class="btn btn-default btn-lg dropdown-toggle search-select" type="button" aria-haspopup="true" aria-expanded="false" ng-click="openDropdown($event);">
          City <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
        </button>
        <ul class="dropdown-menu">
            <li ng-repeat="location in locations" class="checkbox">
              <label>
                <input type="checkbox"
                mt-checkbox="location.city" />
                {{location.city}}
              </label>
            </li>
        </ul>
      </div>

      <!-- Status -->
      <div class="btn-group select-btn pull-left" mt-to="search.status">
        <button class="btn btn-default btn-lg dropdown-toggle search-select" type="button" aria-haspopup="true" aria-expanded="false" ng-click="openDropdown($event);">
          Status <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
        </button>
        <ul class="dropdown-menu">
            <li class="checkbox">
              <label><input type="checkbox" mt-checkbox="1">New</label>
            </li>
            <li class="checkbox">
              <label><input type="checkbox" mt-checkbox="2">Funded</label>
            </li>
            <li class="checkbox">
              <label><input type="checkbox" mt-checkbox="3">Expired</label>
            </li>
        </ul>
      </div>

      <div class="btn-group pull-right map_toggle" role="group">
        <button type="button" name="button" class="btn btn-default toggle-map-btn" ng-click="toggleMap('full')">
          <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
        </button>
        <button type="button" name="button" class="btn btn btn-default toggle-map-btn map-toggle-hover" ng-click="toggleMap('half')">
          <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
        </button>
      </div>

      <button class="green-btn search-btn pull-right" ng-click="search()">Search</button>
    </div> <!-- Search form end  -->

    <div class="clearfix"></div>

    <!-- Deals and map container -->
    <div class="deal-map">
      <div class="map-box hidden-xs">
          <ui-gmap-google-map center="map.center"
                              zoom="map.zoom"
                              draggable="true"
                              options="options"
                              bounds="map.bounds"
                              control="map.control">
              <ui-gmap-markers  models="markers"
                                coords="'self'"
                                fit="true"
                                options="marker.options">
              </ui-gmap-markers>
          </ui-gmap-google-map>
      </div>

      <div class="deal-box">

            <div ng-repeat="deal in deals" class="deal">
                <div class="deal-img">
                  <span class="deal-status new-deal" ng-if="deal.status == 1">NEW DEAL</span>
                  <span class="deal-status funded-deal" ng-if="deal.status == 2">FUNDED DEAL</span>
                  <span class="deal-status expired-deal" ng-if="deal.status == 3">EXPIRED DEAL</span>
                  <img src="http://placehold.it/198x198/00b6ff" alt="" class="pull-left" />
                </div>
                <div class="pull-left deal-detail">
                  <h5>{{deal.annual_return*100 | number: 0}}% <span>Annual Return</span></h5>
                  <p>
                      {{deal.hashed_id}}
                      <span>Deal ID</span>
                  </p>
                  <p>
                      {{deal.ltv*100}}%
                      <span>LTV</span>
                  </p>
                  <p>
                      {{deal.term}} months
                      <span>term</span>
                  </p>
                  <p>
                      {{deal.requested_amount}}
                      <span>Requested Amount</span>
                  </p>
                  <p>
                      {{deal.city}}
                      <span>Location</span>
                  </p>
                  <p ng-if="deal.house_type != ''">
                      {{deal.house_type}}
                      <span>House Type</span>
                  </p>
                </div>
            </div>

      </div>
    </div>


  </div> <!-- Search Map END -->

  <div class="clearfix"></div>

  <!-- Stats Info -->
  <div class="" ng-include="'/views/shared/stats_info.html'"></div>

  <!-- Learn More Info -->
  <div class="learn-more row">
    <div class="col-sm-4 col-xs-12">
      <!-- <span class="glyphicon glyphicon-equalizer" aria-hidden="true"></span> -->
      <img src="/images/icon_investor.png" alt="" />
      <ul>
        <li>Investor</li>
        <li>8-12% High Yield Return</li>
        <li>Full Protection</li>
        <li>Hassel-Free</li>
      </ul>
      <a href="/about#contact">Learn More</a>
    </div>

    <div class="col-sm-4 col-xs-12">
      <!-- <span class="glyphicon glyphicon-home" aria-hidden="true"></span> -->
      <img src="/images/icon_borrower.png" alt="" />
      <ul>
        <li>BORROWER</li>
        <li>Same Day Fast Turnaround</li>
        <li>Flexible Contracts</li>
        <li>Large Money Pool</li>
      </ul>
      <a href="/about#contact">Learn More</a>
    </div>

    <div class="col-sm-4 col-xs-12">
      <!-- <span class="glyphicon glyphicon-user" aria-hidden="true"></span> -->
      <img src="/images/icon_broker.png" alt="" />
      <ul>
        <li>Broker</li>
        <li>More deals with less work</li>
        <li>Fast Deal Processing</li>
        <li>Incentive Finder Fee</li>
      </ul>
      <a href="/about#contact">Learn More</a>
    </div>
  </div>

</div>
